<div class="container">
    <div class="header">
        <div class="dettagli"></div>
    </div>
    <div class="suggeriti">
        <label for="suggeritiPerTe" > Suggeriti per te</label>
        <mat-grid-list  rowHeight="2:1">
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
          </mat-grid-list>
    </div>
    <div class="attivita"></div>
    <div class="allogi"></div>
    <div class="economici"></div>
</div>