
  <h1 mat-dialog-title>Prenotazione Attività</h1>

  <mat-dialog-content>
    <div>
      <form name="prenotattivita" #prenotattivita="ngForm">
        <mat-grid-list cols="2" rowHeight="4:1">


            <mat-grid-tile>
            <mat-label class="mat-label">Seleziona date</mat-label>
          </mat-grid-tile>
        <mat-grid-tile>
            <mat-date-range-input  [rangePicker]="rangePicker" required >
              <input matStartDate placeholder="Arrivo" [formControl]="arrivo1">
              <input matEndDate placeholder="Partenza" [formControl]="partenza1">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
 
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
        </mat-grid-tile>

          <mat-grid-tile>
            <mat-icon>person</mat-icon>
            <label class="mat-label">Adulti:</label>
          </mat-grid-tile>

          <mat-grid-tile>
            <input
              required
              class="input"
              type="number"
              name="numAdulti1"
              [value]="1"
              min="1"
              [formControl]="numAdulti1"
            />
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-icon>child_care</mat-icon>
            <label class="mat-label">Bambini:</label>
          </mat-grid-tile>

          <mat-grid-tile>
            <input
              required
              class="input"
              type="number"
              name="numBambini"
              [value]="0"
              min="0"
              [formControl]="numBambini1"
            />
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close       (click)="onClose()">Cancella</button>
    <button
      mat-button
      type="submit"
      [mat-dialog-close]="true"
      cdkFocusInitial
      (click)="onSubmit()"
      [disabled]="
        numAdulti1.invalid ||
        numBambini1.invalid ||
        arrivo1.invalid ||
        partenza1.invalid
      "
    >
      Verifica Disponibilità
    </button>
  </mat-dialog-actions>
 
