<div class="orientamento">
    <h1>Accedi</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="campo">
      <div class="container">
        <mat-label>E-mail: </mat-label>
        <mat-form-field>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="pat@example.com"
            required
          />
          <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            {{ getErrorMessageEmail() }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="container">
        <mat-label>Pasword:</mat-label>
        <mat-form-field>
          <input
            matInput
            placeholder="********"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            required
          />
          <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            {{ getErrorMessagePassword() }}
          </mat-error>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="form-bottom" style="display: flex; flex-direction:column; justify-content:flex-end; width:100%; align-items:flex-end;">
    <a [routerLink]="['../../public/login']">Hai dimenticato la password?</a>
    <br>
    <a [routerLink]="['../../public/register']">Non hai un account? Registrati</a>
    <br>
    <button mat-raised-button style="margin-right:20%">Accedi</button>
    </div>

        </form>
  </div>
  