<div class="barraricerca">
    <input type="text" class="searchbar" placeholder="Cerca per nome, città, categoria..." [(ngModel)]="filterTerm"
        (input)="onSearch()" onkeypress="return (event.charCode > 64 && 
        event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 32"/>
    <button matTooltip="Ricerca per posizione" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon class="filtericon">travel_explore</mat-icon>
    </button>
    <table class="results" *ngIf="showresultcontainer">
        <tbody>
            <tr (click)="navigateToAttivita(attivita.id)" *ngFor="let attivita of listaAttivita | filter: filterTerm"
                class="risultato">
                <td>{{ attivita.nome }}</td>
            </tr>
        </tbody>
    </table>
</div>