<div class="sezione1">
  <mat-form-field appearance="outline" style="margin: 2%; width: 60%;">
    <mat-label>Indirizzo</mat-label>
    <input [formControl]="indirizzo" matInput placeholder="Via Giovanni Paolo II, 132" />
    <mat-error *ngIf="indirizzo.invalid">
      {{ getErrorMessage(indirizzo) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin: 2%; width: 150px;">
    <mat-label>CAP</mat-label>
    <input [formControl]="cap" matInput placeholder="84084" />
    <mat-error *ngIf="cap.invalid">
      {{ getErrorMessage(cap) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin: 2%; width: 60%;  ">
    <mat-label>Città</mat-label>
    <input [formControl]="citta" matInput placeholder="Fisciano" />
    <mat-error *ngIf="citta.invalid">
      {{ getErrorMessage(citta) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin: 2%; width: 150px;">
    <mat-label>Provincia</mat-label>
    <input [formControl]="provincia" matInput placeholder="SA" />
    <mat-error *ngIf="provincia.invalid">
      {{ getErrorMessage(provincia) }}
    </mat-error>
  </mat-form-field>


 <div style="margin: 5%;">
  <h4>Coordinate Geografiche</h4>

  <mat-form-field appearance="outline" style="margin: 2%; width: 150px;">
    <mat-label>latitudine</mat-label>
    <input [formControl]="latitudine" matInput placeholder="xx.xx" />
    <mat-error *ngIf="latitudine.invalid">
      {{ getErrorMessage(latitudine) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin: 2%; width: 300px;">
    <mat-label>Longitudine</mat-label>
    <input [formControl]="longitudine" matInput placeholder="xx.xx" />
    <mat-error *ngIf="longitudine.invalid">
      {{ getErrorMessage(longitudine) }}
    </mat-error>
  </mat-form-field>

  <button (click)="salvaDati2()">Salva</button>

</div>
</div>
