<h1 mat-dialog-title>Inserisci i dati</h1>

<mat-dialog-content style="background-color: black;" fxLayout="column" fxLayoutGap="10px">

<app-sezione1 style="background-color: aquamarine;" class="sezione"></app-sezione1>

<div class="contenitore">
<app-sezione2 style="background-color:blueviolet; " class="card"></app-sezione2>

<app-sezione3 style="background-color:brown; " class="card"></app-sezione3>

</div>

<app-sezione4 style="background-color:chartreuse;" class="sezione"></app-sezione4>



<app-sezione5 style="background-color:cornflowerblue;" class="sezione"></app-sezione5>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancella</button>
  <button
    mat-button
    type="submit"
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="onSubmit()"
  >
    Inserisci
  </button>
</mat-dialog-actions>