<h1 mat-dialog-title>Inserisci i dati</h1>

<mat-dialog-content fxLayout="column" fxLayoutGap="10px">

<app-sezione1 (formDataChanged)="onSezione1DataChanged($event)" class="sezione"></app-sezione1>

<div class="contenitore">
<app-sezione2 (formDataChanged)="onSezione2DataChanged($event)" campo2={formData.campo1} updateFormData={updateFormData} class="card"></app-sezione2>

<app-sezione3 (formDataChanged)="onSezione3DataChanged($event)" class="card1"></app-sezione3>

</div>

<app-sezione4 (formDataChanged)="onSezione4DataChanged($event)" class="sezione"></app-sezione4>



<app-sezione5 (formDataChanged)="onSezione5DataChanged($event)" class="sezione"></app-sezione5>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancella</button>
  <button
    mat-button
    type="submit"
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="onSubmit()"
  >
    Inserisci
  </button>
</mat-dialog-actions>