<mat-divider></mat-divider>
<div class="sfondo">
<h1 class="chisiamo" style="font-size:400%;">Chi Siamo</h1>
</div>
<mat-divider></mat-divider>


<div class="contenitore">
    
  <div class="card">
    <mat-card class="immagine" style="box-shadow: none;">
      <img
        mat-card-image
        src="assets/chisiamo/travel.png"
        alt="immagine-attivita"
        class="immagine"
      />
    </mat-card>
  </div>


  <div class="card">
    <app-introduzione></app-introduzione>
  </div>
</div>
<mat-divider></mat-divider>
<h1 class="politiche-eco">Politiche Eco-Sostenibili</h1>
<app-politiche-eco></app-politiche-eco>
<mat-divider></mat-divider>

