<mat-divider></mat-divider>

<h1 class="chisiamo">Chi Siamo</h1>

<mat-divider></mat-divider>

<div class="contenitore">
    
  <div class="card">
    <mat-card class="example-card">
      <img
        mat-card-image
        src="assets/chisiamo/chisiamo1.jpg"
        alt="immagine-attivita"
        class="immagine"
      />
    </mat-card>
  </div>


  <div class="card">
    <app-introduzione></app-introduzione>
  </div>
</div>
<mat-divider></mat-divider>
<h1 class="politiche-eco">Politiche Eco-Sostenibili</h1>
<app-politiche-eco></app-politiche-eco>
<mat-divider></mat-divider>
