<div class="container">
  <div class="titolo">
    <h1>Le mie prenotazioni correnti</h1>
  </div>
  <div class="dettagli">
    <div class="seleziona">
      <section class="example-section">
        <mat-checkbox [(ngModel)]="showActiveOnly"
          class="example-margin" color="primary">Mostra solo prenotazioni attive</mat-checkbox>
        
      </section>

</div>
  <div class="ricerca">
    <div class="input" style="height: 50%;"><input type="search" id="site-search" name="q" style="border-radius:10%"/>
      <button>Search</button></div>
    </div>
  </div>

  <div class="attivita">

    <table mat-table [dataSource]="dataSource" class="table">
      <!--stato column-->
      <ng-container matColumnDef="stato">
        <th mat-header-cell *matHeaderCellDef  style="color: rgb(10, 34, 1); background-color: #32CD32; vertical-align: middle; font-weight: bold;"> Stato </th>
        <td mat-cell *matCellDef="let prenotazione"> {{prenotazione.stato || 'N/D'}} </td>
      </ng-container>
       <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef  style="color:rgb(10, 34, 1); background-color: #32CD32; vertical-align: middle; font-weight: bold;"> Nome </th>
        <td mat-cell *matCellDef="let prenotazione" style="vertical-align: middle;"> {{prenotazione.nome || 'N/D'}} </td>
      </ng-container> 
      <!--check in-->
      <ng-container matColumnDef="check-in">
        <th mat-header-cell *matHeaderCellDef  style="color: rgb(10, 34, 1); background-color: #32CD32; vertical-align: middle; font-weight: bold;"> Check-in </th>
        <td mat-cell *matCellDef="let prenotazione" style="vertical-align: middle;"> {{ prenotazione.check_in | date:'yyyy-MM-dd HH:mm:ss' || 'N/D'}} </td>
      </ng-container> 
      <!--checkout-->
      <ng-container matColumnDef="check-out" >
        <th mat-header-cell *matHeaderCellDef  style="color: rgb(10, 34, 1); background-color: #32CD32; vertical-align: middle; font-weight: bold;"> Check-out </th>
        <td mat-cell *matCellDef="let prenotazione" style="vertical-align: middle;"> {{ prenotazione.check_out | date:'yyyy-MM-dd HH:mm:ss' || 'N/D'}} </td>
      </ng-container> 
      <!--num-bambini-->
      <ng-container matColumnDef="bambini">
        <th mat-header-cell *matHeaderCellDef  style="color: rgb(10, 34, 1); background-color: #32CD32; vertical-align: middle; font-weight: bold;"> Bambini  </th>
        <td mat-cell *matCellDef="let prenotazione" style="vertical-align: middle;"> {{prenotazione.bambini || 'N/D'}} </td>
      </ng-container> 
      <!--num-adulti-->
      <ng-container matColumnDef="adulti">
        <th mat-header-cell *matHeaderCellDef  style="color:rgb(10, 34, 1); background-color: #32CD32; vertical-align: middle; font-weight: bold;"> Adulti </th>
        <td mat-cell *matCellDef="let prenotazione" style="vertical-align: middle;"> {{prenotazione.adulti || 'N/D'}} </td>
      </ng-container>
      <!--Prezzo-->
      <ng-container matColumnDef="prezzo">
        <th mat-header-cell *matHeaderCellDef  style="color: rgb(10, 34, 1); background-color: #32CD32; vertical-align: middle; font-weight: bold;"> Prezzo </th>
        <td mat-cell *matCellDef="let prenotazione" style="vertical-align: middle;"> {{ prenotazione.prezzo | currency:'EUR':'symbol':'1.2-2' | json}} </td>
      </ng-container> 
          <!-- Delete Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef  style="color:rgb(10, 34, 1); background-color: #32CD32; vertical-align: middle; font-weight: bold;"></th>
      <td mat-cell *matCellDef="let prenotazione" style="vertical-align: middle;">
        <button mat-icon-button color="warn" *ngIf="prenotazione.stato === 'attivo'" (click)="onDelete(prenotazione)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="color: rgb(10, 34, 1); background-color: #32CD32; vertical-align: middle;"></tr>
    </table>
          <mat-paginator
          [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="[10, 25, 50, 100]"
          (page)="updatePaginatedData()"
          aria-label="Select page; color: white;"
          [pageSizeOptions]="[5, 10, 25, 100]"
          showFirstLastButtons
          style="color: rgb(10, 34, 1); background-color: #32CD32; border-radius: 5%;"
        ></mat-paginator>
    
  </div>
</div>
