<div>

  <mat-form-field appearance="outline"  style="margin: 2%; margin-bottom: 0%;">
    <mat-label>Inserisci Nome</mat-label>
    <input 
    matInput 
    placeholder="Nome"         
    [formControl]="nome"
    required/>
    <mat-error *ngIf="nome.invalid">
      {{ getErrorMessage(nome) }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline"  style="margin: 2%; margin-bottom: 0%;">
    <mat-label>Tipo</mat-label>
    <mat-select [formControl]="alloggio" [errorStateMatcher]="matcher">
      <mat-option value="true">Alloggio</mat-option>
      <mat-option value="false">Attività</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline"  style="margin: 2%; margin-bottom: 0%;" >
    <mat-label>Categoria</mat-label>
    <mat-select [formControl]="categoriaAlloggio" [errorStateMatcher]="matcher" >
      <mat-option value="1">Hotel</mat-option>
      <mat-option value="2">Campeggio</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline"  style="margin: 2%; margin-bottom: 0%;">
    <mat-label>Disponibilità</mat-label>
    <input class="testo" matInput="number" placeholder="Posti"    
     [formControl]="disponibilita"
    required />
    <mat-error *ngIf="disponibilita.invalid">
      {{ getErrorMessage(disponibilita) }}
    </mat-error>
  </mat-form-field>

  <button (click)="salvaDati()">Salva</button>


</div>


