<h1 mat-dialog-title>Riconferma i dati originali copiandoli e incollandoli nelle caselle di testo appropriate</h1>
<mat-dialog-content fxLayout="column" fxLayoutGap="10px">
  <form [formGroup]="inserimento">
    <div class="sezione">
      <div>
        <!--PRIMA PARTE-->
        <!--Inserimento nome-->
        <label>{{nome}}</label>
        <mat-form-field appearance="outline" style="margin: 2%; margin-bottom: 0%">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required/>
          <mat-error *ngIf="inserimento.get('nome')?.hasError('required')">
            Campo obbligatorio
          </mat-error>
        </mat-form-field>
        <!-- Selezione tipo -->
        <mat-form-field appearance="outline" style="margin: 2%; margin-bottom: 0%">
          <mat-label>Seleziona il tipo originale</mat-label>
          <mat-select formControlName="tipo" [errorStateMatcher]="matcher">
            <!-- <mat-option value="true">Alloggio</mat-option> -->
            <mat-option value="false">Attività</mat-option>
          </mat-select>
          <mat-error *ngIf="inserimento.get('tipo')?.hasError('required')">
            Campo obbligatorio
          </mat-error>
        </mat-form-field>
        <!-- Selezione categoria -->
        <mat-form-field appearance="outline" style="margin: 2%; margin-bottom: 0%">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="categoria" [errorStateMatcher]="matcher">
            <!-- <ng-container *ngFor="let categorieAll of categorieAll">
              <mat-option *ngIf="inserimento.get('tipo')?.value !== 'false'" [value]="categorieAll.value">
                {{ categorieAll.label }}
              </mat-option>
            </ng-container> -->

            <ng-container *ngFor="let categorieAtt of categorieAtt">
              <mat-option *ngIf="inserimento.get('tipo')?.value !== 'true'" [value]="categorieAtt.value">
                {{ categorieAtt.label }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="inserimento.get('categoria')?.hasError('required')">
            Campo obbligatorio
          </mat-error>
        </mat-form-field>
        <!--Seleziona Disponibilità-->
        <br>
        <label for="" *ngIf="disponibilita">{{disponibilita}}</label>
        <mat-form-field *ngIf="inserimento.get('tipo')?.value !== 'true'" appearance="outline"
          style="margin: 2%; margin-bottom: 0%">
          <mat-label>Disponibilità</mat-label>
          <input class="testo" matInput="number" formControlName="disponibilita" required />
          <mat-error *ngIf="inserimento.get('disponibilita')?.hasError('required')">
            Campo obbligatorio
          </mat-error>
          <mat-error *ngIf="inserimento.get('disponibilita')?.hasError('pattern')">
            Consentiti solo numeri
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- sezione 2-->
    <div class="contenitore">
      <div class="card">
        <div class="sezione1">
          <!--Indirizzo-->
          <label for="">{{indirizzo}}</label>
          <mat-form-field appearance="outline" style="margin: 2%; width: 60%">
            <mat-label>Indirizzo</mat-label>
            <input formControlName="indirizzo" matInput/>
            <mat-error *ngIf="inserimento.get('indirizzo')?.hasError('required')">
              Campo obbligatorio
            </mat-error>
          </mat-form-field>
          <!--CAP-->
          <br>
          <label for="">{{cap}}</label>
          <mat-form-field appearance="outline" style="margin: 2%; width: 150px">
            <mat-label>CAP</mat-label>
            <input formControlName="cap" matInput/>
            <mat-error *ngIf="inserimento.get('cap')?.hasError('required')">
              Campo obbligatorio
            </mat-error>
            <mat-error *ngIf="inserimento.get('cap')?.hasError('pattern')">
              Consentiti solo numeri
            </mat-error>
            <mat-error *ngIf="inserimento.get('cap')?.hasError('maxlength')">
              Massimo 5 numeri
            </mat-error>

          </mat-form-field>
          <!--Città-->
          <br>
          <label for="">{{citta}}</label>
          <mat-form-field appearance="outline" style="margin: 2%; width: 60%">
            <mat-label>Città</mat-label>
            <input formControlName="citta" matInput/>
            <mat-error *ngIf="inserimento.get('citta')?.hasError('required')">
              Campo obbligatorio
            </mat-error>
          </mat-form-field>
          <!--Provincia-->
          <br>
          <label for="">{{provincia}}</label>
          <mat-form-field appearance="outline" style="margin: 2%; width: 150px">
            <mat-label>Provincia</mat-label>
            <input formControlName="provincia" matInput/>
            <mat-error *ngIf="inserimento.get('provincia')?.hasError('required')">
              Campo obbligatorio
            </mat-error>
            <mat-error *ngIf="inserimento.get('provincia')?.hasError('maxlength')">
              Massimo 2 caratteri
            </mat-error>
          </mat-form-field>
          <!--Coordinate-->
          <div style="margin: 5%">
            <h4>Coordinate Geografiche</h4>
            <label for="">{{latitudine}}</label>
            <mat-form-field appearance="outline" style="margin: 2%; width: 150px">
              <mat-label>Latitudine</mat-label>
              <input formControlName="latitudine" matInput/>
              <mat-error *ngIf="inserimento.get('latitudine')?.hasError('required')">
                Campo obbligatorio
              </mat-error>
              <mat-error *ngIf="inserimento.get('latitudine')?.hasError('pattern')">
                Valore non valido
              </mat-error>
            </mat-form-field>

            <br>
            <label for="">{{longitudine}}</label>
            <mat-form-field appearance="outline" style="margin: 2%; width: 300px">
              <mat-label>Longitudine</mat-label>
              <input formControlName="longitudine" matInput/>
              <mat-error *ngIf="inserimento.get('longitudine')?.hasError('required')">
                Campo obbligatorio
              </mat-error>
              <mat-error *ngIf="inserimento.get('longitudine')?.hasError('pattern')">
                Valore non valido
              </mat-error>
            </mat-form-field>
            <!-- sezione 3-->
          </div>
        </div>
      </div>
      <div class="sezione1">
      </div>
    </div>
    <!-- sezione 4-->
    <div class="sezione">
      <div class="sezione1">
        <!--Descrizione Breve-->
        <label for="">{{descrizioneBreve}}</label>
        <mat-form-field style="width: 60%; margin: 2%;">
          <mat-label>Descrizione breve</mat-label>
          <textarea formControlName="descrizioneBreve" matInput></textarea>
          <mat-error *ngIf="inserimento.get('prezzo')?.hasError('required')">
            Campo obbligatorio
          </mat-error>
        </mat-form-field>
        <!--Prezzo-->
        <br>
        <label for="" *ngIf="prezzo">{{prezzo}}</label>
        <br>
        <mat-icon *ngIf="inserimento.get('tipo')?.value !== 'true'">money</mat-icon>
        <mat-form-field *ngIf="inserimento.get('tipo')?.value !== 'true'" appearance="outline" style="width: 150px;">

          <mat-label *ngIf="prezzo">Prezzo</mat-label>
          <input formControlName="costo" matInput/>
          <mat-error *ngIf="inserimento.get('costo')?.hasError('required')">
            Campo obbligatorio
          </mat-error>
          <mat-error *ngIf="inserimento.get('costo')?.hasError('pattern')">
            Prezzo errato
          </mat-error>
        </mat-form-field>
        <mat-icon *ngIf="inserimento.get('tipo')?.value !== 'true'">euro</mat-icon>
      </div>
    </div>
    <!-- sezione 5-->
    <div class="sezione">
      <div class="sezione1">
        <!--Descrizione Lunga-->
        <label for="">{{descrizioneLunga}}</label>
        <mat-form-field class="example-full-width">
          <mat-label>Descrizione lunga</mat-label>
          <textarea formControlName="descrizioneLunga" matInput></textarea>
          <mat-error *ngIf="inserimento.get('descrizioneLunga')?.hasError('required')">
            Campo obbligatorio
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<!--PULSANTI DELLA FINESTRA-->
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancella</button>
  <button mat-button type="submit" [mat-dialog-close]="true" (click)="onSubmit()">
    Inserisci
  </button>
</mat-dialog-actions>