<div class="navContainer">
    <div class="leftSide">
        <a routerLink="" style="cursor: pointer; text-decoration: none;" class="title">
            <h1
                style="font-weight: bold; font-size: 60px; color: lime; font-family: sans-serif; user-select: none; text-decoration: none;">
                GreenTrails</h1>
        </a>
        <div class="searchbarContainer">
        </div>
    </div>
    <div class="rightSide">
        <div class="iconContainer">
            <a routerLink="" class="iconLink">
                <i class="fa-regular fa-user icon"></i>
                <p class="icon-text">Accedi/ Registrati</p>
            </a>
            <a routerLink="" class="iconLink">
                <i class="fa-solid fa-question icon"></i>
                <p class="icon-text">Chi Siamo?</p>
            </a>
            <a routerLink="" class="iconLink">
                <i class="fa-regular fa-paper-plane icon"></i>
                <p class="icon-text">Itinerario</p>
            </a>
        </div>
    </div>
</div>