<div class="sezione1">
  <mat-form-field style="width: 60%; margin: 2%;">
    <mat-label>Descrizione Breve</mat-label>
    <textarea [formControl]="descrizioneBreve" matInput></textarea>
  </mat-form-field>

  <mat-icon>money</mat-icon>
      <mat-form-field appearance="outline" style= "width: 150px;">
        <mat-label>Prezzo</mat-label>
        <input [formControl]="prezzo" matInput placeholder="xx.xx" />
      </mat-form-field>
      <mat-icon>euro</mat-icon>

      <button (click)="salvaDati4()">Salva</button>

  </div>