<div class="mapContainer">
    <form>
        <div class="ricerca">
            <div class="barraricerca">
                <input type="text" class="searchbar" placeholder="Inserisci latitudine" id="latitudine"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 44 || event.charCode == 46" />
            </div>
            <div class="barraricerca">
                <input type="text" class="searchbar" placeholder="Inserisci longitudine" id="longitudine"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 44 || event.charCode == 46" />
            </div>
            <div class="barraricerca">
                <input type="text" class="searchbar" placeholder="Inserisci raggio" id="raggio"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 44 || event.charCode == 46" />
            </div>
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()"
            style="margin-top: 20px; color: white; background-color: #32CD32; width: 100px; border-radius: 20px;">Cerca</button>
        </div>
        <div class="map-container">
            <div id="map">
            </div>
        </div>
    </form>
</div>