<!-- Container card valori-ecosostenibilita -->
<mat-card class="example-card">
    <!-- Container header valori-ecosostenibilita -->
    <mat-card-header class="card-section">
        <!-- Container valori-ecosostenibilita -->
        <mat-card-content>
            <!-- Container titolo -->
            <mat-card-title style="width: 100%;">
                    Politiche ecosostenibili
            </mat-card-title>
            <!-- Container lista valori-ecosostenibilita -->
            <div class="lista-eco-container">
                <!-- Lista valori-ecosostenibilita (devono essere generati dinamicamente)-->
                <mat-list role="list">
                    <!-- Elemento della lista -->
                    <mat-list-item role="listitem" *ngFor="let politica of politicheEcosostenibili, let i as index">{{politica}}</mat-list-item>
                  </mat-list>
            </div>
        </mat-card-content>
        <!-- Pulsante prenotazione -->
        <button mat-raised-button color="primary" style="margin-top: 20px; color: white;">Prenota</button>
    </mat-card-header>
</mat-card>