<div class="sezione1">
  <mat-card class="card-section">
    <mat-card-header >
      <mat-card-title>Politiche ecosostenibili:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section class="example-section" [formControl]="toppings">
        <p>
          <mat-checkbox formControlName="politicheAntispreco"
            >Politiche antispreco</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox formControlName="prodottiLocali"
            >Prodotti locali</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox formControlName="energiaVerde"
            >Energia verde</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox formControlName="raccoltaDifferenziata"
            >Raccolta differenziata</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox formControlName="limiteEmissioneCO2"
            >Limiti emissioni Co2</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox formControlName="contattoConNatura"
            >A contatto con la natura</mat-checkbox
          >
        </p>
      </section>

      <button (click)="salvaDati3()">Salva</button>
    </mat-card-content>
  </mat-card>
</div>
