<!-- Container lista-recensioni -->
<mat-list role="list">
    <!-- Container elementi della lista -->
    <mat-list-item role="listitem">
        <!-- Container recensione -->
        <div class="recensione-container">
            <!-- Container button per visualizzare galleria immagini recensione e immagine del profilo utente -->
            <div class="img-propic-container">
                <!-- Container pulsante immagini -->
                <div class="immagini-container">
                    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                        <span class="material-symbols-outlined" style="font-size: 48px;">
                            gallery_thumbnail
                        </span>
                    </button>
                </div>
                <!-- Container propic e nome utente -->
                <div class="propic-nome-container">
                    <!-- Container propic -->
                    <div class="propic-container">

                    </div>
                    <!-- Container nome utente -->
                    <div class="nome-container">

                    </div>
                </div>
            </div>
            <!-- Container stelle valutazione utente -->
            <div class="stelle-utente-container">

            </div>
            <!-- Container valutazione discorsiva utente -->
            <div class="valutazione-discorsiva-container">

            </div>
        </div>
    </mat-list-item>
</mat-list>