<div class="toolbarContainer">
    <!-- <img src="assets\logo.png" alt="" style="width: 90px; position: absolute; left: 5px; cursor: pointer;" routerLink="" class="title"> -->
    <!-- <button mat-icon-button aria-label="Example icon button with a home icon" style="position: absolute; left: 25px; cursor: pointer; top: 16px" routerLink="" class="title">
        <mat-icon style="color: #00FF00; font-size: xx-large;">home</mat-icon>
    </button> -->
    <button mat-mini-fab aria-label="Example icon button with a home icon"
    style="position: absolute; left: 25px; cursor: pointer; top: 16px; background-color: #00FF00;" routerLink="" class="title">
    <mat-icon style="color: white;">home</mat-icon>
</button>
    <app-ricerca></app-ricerca>
    <div class="iconContainer">
        <a routerLink="" class="iconLink" (click)="navigate()">
            <i class="fa-regular fa-user icon"></i>
        </a>
        <a routerLink="" class="iconLink" *ngIf="!isGestore && isLoggedIn">
            <i class="fa-regular fa-paper-plane icon"></i>
        </a>
        <a routerLink="mieAttivita" class="iconLink" *ngIf="isGestore && isLoggedIn">
            <i class="fa-regular fa-building"></i>
        </a>
    </div>
</div>